---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import HeroImage from "../assets/hero-image.png";
import Bitcoin from "../assets/coin-logos/bitcoin-logo.svg";
import Ethereum from "../assets/coin-logos/ethereum-logo.svg";
import Litecoin from "../assets/coin-logos/litecoin-logo.svg";
import "../app.css";
---

<Layout title="NDNFTs">
	<div
		class="hero-section container mx-auto flex gap-8 mt-16 flex-col md:flex-row"
	>
		<div class="hero-text md:w-[50%] flex flex-col justify-center gap-10">
			<h1>
				Browse through <span class="gradient-text">100k+ NFTs</span> and
				collect the rarest ones
			</h1>
			<div class="buttons w-fit flex gap-5 flex-col lg:flex-row">
				<Button variant="primary" href="/connect">Connect Wallet</Button
				>
				<Button variant="secondary" href="/marketplace"
					>Browse Marketplace</Button
				>
			</div>
			<div class="coin-logo flex flex-wrap gap-5">
				<Image src={Bitcoin} alt="" />
				<Image src={Ethereum} alt="" />
				<Image src={Litecoin} alt="" />
			</div>
		</div>
		<div class="hero-image md:w-[50%] flex items-center">
			<div class="aspect-square h-auto w-full flex justify-end">
				<Image class="w-full" src={HeroImage} alt="" />
			</div>
		</div>
	</div>
</Layout>
