@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Biryani:wght@200;300;400;600;700;800;900&family=Darker+Grotesque:wght@300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-family: "Darker Grotesque", sans-serif;
		font-weight: 600;
		line-height: 93%;
		letter-spacing: 3%;
		@apply xl:text-[6.5rem] lg:text-[5rem] text-[4rem];
	}
	h2 {
		font-family: "Darker Grotesque", sans-serif;
		font-weight: 600;
		@apply text-[2.5rem];
	}
	h3 {
		font-family: "Darker Grotesque", sans-serif;
		font-weight: 600;
		@apply text-[2rem];
	}
	h4 {
		font-family: "Darker Grotesque", sans-serif;
		font-weight: 600;
		@apply text-[1.5rem];
	}
	p {
		font-family: "Barlow", sans-serif;
		font-weight: 300;
		line-height: 128%;
		letter-spacing: 1%;
		@apply text-[1.25rem];
	}
}

@layer utilities {
	.light {
		font-family: "Biryani", sans-serif;
		font-weight: 300;
		line-height: 128%;
		letter-spacing: 1%;
		@apply text-[0.75rem];
	}
	.gradient-text {
		background: rgb(86, 245, 255);
		background: linear-gradient(
			45deg,
			rgba(86, 245, 255, 1) 0%,
			rgba(246, 140, 191, 1) 50%,
			rgba(255, 235, 51, 1) 100%
		);
		background-clip: text;
		color: transparent;
	}
	@property --gradient-angle {
		syntax: "<angle>";
		inherits: false;
		initial-value: 0deg;
	}
	.bg-gradient {
		--gradient-angle: 15deg;
		background: rgb(86, 245, 255);
		background: linear-gradient(
			var(--gradient-angle),
			rgba(255, 235, 51, 1) -25%,
			rgba(246, 140, 191, 1) 50%,
			rgba(86, 245, 255, 1) 125%
		);
		transition: --gradient-angle 300ms ease-in-out;
	}
	.bg-gradient:hover {
		--gradient-angle: 90deg;
	}
}
