---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="NDNFT, best NFT marketplace!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="bg-black text-white min-h-screen flex flex-col justify-between"
	>
		<div
			class="h-20 w-20 border-white/10 border-2 rounded-full z-20 opacity-0"
			id="mouseCursor"
		>
		</div>
		<div class="w-full">
			<div class="container mx-auto px-5"><NavBar /></div>
			<slot />
		</div>
		<div class="container mx-auto px-5"><Footer /></div>
		<script>
			const mouseCursor: any = document.getElementById("mouseCursor");
			const touchDevice =
				"ontouchstart" in window || navigator.maxTouchPoints > 0;
			if (touchDevice) {
				document
					.getElementById("mouseCursor")
					?.style.setProperty("display", "none");
			}

			document.addEventListener(
				"mousemove",
				function (ev) {
					if (!touchDevice) {
						mouseCursor?.style.setProperty("opacity", "1");
						mouseCursor.style.transform =
							"translateY(" + (ev.clientY - 35) + "px)";
						mouseCursor.style.transform +=
							"translateX(" + (ev.clientX - 38) + "px)";
					}
				},
				false
			);
		</script>
	</body>
</html>
